/*CSS  do Formulário*/

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%; /* garante largura total */
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #333;
}

.modal-field {
  width: 100%; /* ocupa toda a largura */
  box-sizing: border-box; /* evita estourar por causa do padding */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modal-field:focus {
  outline: none;
  border-color: #4caf50;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}






