* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #30639c;
  --secundary-color: #d2d7d8;
  --shadow-color: #ccc;
  --text-color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "karla", sans-serif;
  position: relative;
}

header {
  background-color: var(--primary-color);
  box-shadow: 0 1px 2px var(--shadow-color);
}

.header-container {
  display: flex;
  align-items: center;          /* alinha verticalmente */
  justify-content: center;      /* mantém o título centralizado */
  padding: 10px 20px;
  position: relative;           /* necessário para posicionar a imagem */
}

/* título */
.header-title {
  color: black;
  font-size: 2rem;
  margin: 0 auto;              /* centraliza no container */
  text-align: center;
  flex: 1;                     /* ocupa espaço disponível */
}

/* imagem */
.image-container {
  position: absolute;
  left: 20px;                  /* distancia da borda esquerda */
}

.image-container img {
  max-width: 40px;             /* ajusta tamanho da imagem */
  height: auto;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 5vh auto;
  padding: 50px;
  box-shadow: 2px 2px 10px var(--shadow-color);
  gap: 20px;
}

footer {
  width: 100;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  padding: 20px;
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;     /* empilha no mobile */
    gap: 8px;
  }

  .image-container img {
    height: 30px;
  }

  .header-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;
  }
  .header-title {
    font-size: 1.5rem;
  }

  main {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    box-shadow: none;
  }
}
